body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
/*barra de navegacion*/
.navbar-brand{
  border-right: 1px solid rgb(87, 141, 160);
}
.nav-item {
  border-right: 1px solid rgb(87, 141, 160);
}
/* videos informativos*/
.responsive-iframe{
  height: auto;
  width: auto;
}
/*Footer*/
.social {
  margin-top: 3%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
/* youtube */
.fa-youtube {
  background: #bb0000;
  color: white;
}
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/*Instagram*/
.fa-instagram {
  background: #125688;
  color: white;
}
.nosotros{
  text-align: right;
}