body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

/* videos informativos*/
.responsive-iframe{
  height: auto;
  width: auto;
}
/*Footer*/
.social {
  margin-top: 3%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
/* youtube */
.fa-youtube {
  background: #bb0000;
  color: white;
}
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/*Instagram*/
.fa-instagram {
  background: #125688;
  color: white;
}
.nosotros{
  text-align: right;
}



  /* Para tener un ancho máximo debemos de establecer el width del DIV.delimitador */
.delimitador{
  width:560px;
  margin:auto;
  }
  /* El contenedor con el padding-top crea el tamaño del vídeo */
  .contenedor{
  height:0px;
  width:100%;
  max-width:560px; /* Así establecemos el ancho máximo (si lo queremos) */
  padding-top:56.25%; /* Relación: 16/9 = 56.25% */
  position:relative;
  }
  /* El iframe se adapta al tamaño del contenedor */
  iframe{
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}